body {
      margin: 0;
      background: skyblue;
      text-align: center;
      font-family: Comic Sans MS, Arial;
    }
    canvas {
      background: #87CEEB;
      display: block;
      margin: auto;
      border: 4px solid white;
    }